[Unit]
Description=LaserWeb4 server

[Service]
ExecStart=/usr/bin/node /usr/lib/lw-comm-server/server.js
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=lw.comm-server
WorkingDirectory=/usr/lib/lw-comm-server
User=laser-web4
Group=laser-web4
Environment=NODE_ENV=production PORT=8000

[Install]
WantedBy=multi-user.target
